<!DOCTYPE html>
<html lang='en'>
<head>
	{% load static %}
	<meta charset="UTF-8">
	<title>My Resume</title>
	<link rel='stylesheet' type="text/css" href="/static/css/index.css">
</head>
<body>
<body class="background">
<div align="center">
	<span class="name">{{ name }}</span></br>
	<div class="addr">
		Phone: {{ phone_num }} <span><strong>|</strong></span>
		Email: <a href="mailto:deyanchen89@gmail.com">{{ email }}</a> <span><strong>|</strong></span>
		Address: {{ address }}
	</div>
</div>
<div>
	<span class="section_title">Skills</span>
	<li class="li">Excellent experiences with Python</li>
	<li class="li"></li>
	<li class="li"></li>
	<li class="li"></li>
</div>
</body>
</html>